<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" >
    <div class="carousel-item active" >
      <img class="d-block w-100" [src]='imageSrc' alt="First slide" id="myImg" height="500px" width="100%">
    </div>
  </div>

</div>
<div class="container-fluid row">
  <div class="col-md-3" *ngFor="let image of images">
    <img [src]='sanitizer.bypassSecurityTrustResourceUrl(image.slice(1,-1))' alt="image" onclick="changeImage(this.src)" class="img-thumbnail" height="100px" width="100px">
  </div>
</div>
<hr class="line_break"><br>
<div  *ngIf="propertyDetails" >
    <h3>{{propertyDetails.name}}</h3><br>
    <div id="details">
      <h6><b>Type:</b> {{propertyDetails.type}}</h6>
      <h6><b>Address:</b> {{propertyDetails.address}}</h6>
      <h6><b>City:</b> {{propertyDetails.city}}</h6>
      <h6><b>State:</b> {{propertyDetails.state}}</h6>
      <h6><b>ZIP:</b> {{propertyDetails.zip_code}}</h6>
      <h6 *ngIf="propertyDetails.country"><b>Country:</b> {{propertyDetails.country}}</h6>
      <h6><b>Phone:</b> {{propertyDetails.phone}}</h6>
      <h6><b>Bed count:</b> {{propertyDetails.capacity}}</h6>
    </div>

</div>
